:root {
  --purple-600: #7C3AED;
  --purple-400: #9F67FF;

  --red: #ED3A5A;

  --gray-50: #F8FAFC;
  --gray-200: #E2E8F0;
  --gray-400: #94A3B8;
  --gray-600: #475569;
  --gray-800: #1E293B;
  --gray-900: #0F172A;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font: 1rem "Titillium Web", sans;
  background-color: var(-gray-50);

  height: 100vh;
}

.logo {
  margin-bottom: 7.125rem;
}

.content {
  padding-left: 7rem;
}

.content-texts {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  max-width: 22rem;
}

h1 {
  font-size: 2rem;
  color: var(--gray-900);
}

p {
  font-weight: 400;
}

a {
  font-weight: bold;
  color: var(--purple-600);
  text-decoration: none;

  transition: ease-out .5s;
}

a:hover {
  color: var(--purple-400);
  transition: ease-in .5s;
}

a:hover.subscribe {
  color: var(--purple-600);
  transition: none;
  text-decoration: underline;
}

.content-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  padding: 1rem .75rem;

  border: 1px solid var(--gray-200);
  border-radius: 0.25rem;

  color: var(--gray-800);
}

input::placeholder {
  font-size: .875rem;
  color: var(--gray-400);
}

input:focus {
  outline: 1px solid var(--purple-400);
}

form {
  gap: 1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-forgot-password {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 1rem 1.75rem;

  border: none;
  border-radius: .25rem;

  font-weight: bold;
  color: var(--gray-50);
  background-color: var(--purple-600);

  transition: ease-out .5s;
}

button:hover {
  background-color: var(--purple-400);
  transition: ease-in .5s;
}
